################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tye
/.vs
/bin/Debug/net6.0
/obj
